*.class
.idea/compiler.xml
.idea/discord.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/.name
.idea/vcs.xml
/out
/test
/test/bibloteki
/target/classes/META-INF